name: homebrew

on:
  pull_request:
    paths:
      - '*.rb'
      - .github/workflows/homebrew.yaml
  push:
    branches:
      - master
    paths:
      - '*.rb'
      - .github/workflows/homebrew.yaml

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        target:
          - os: ubuntu-latest
            formula: kubelogin
          # - os: macos-latest
          #   formula: kubelogin
          - os: ubuntu-latest
            formula: oidc-kubelogin
          - os: macos-latest
            formula: oidc-kubelogin
    runs-on: ${{ matrix.target.os }}
    timeout-minutes: 10
    env:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      # https://docs.brew.sh/Homebrew-on-Linux
      - if: matrix.target.os == 'ubuntu-latest'
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          echo /home/linuxbrew/.linuxbrew/bin >> $GITHUB_PATH
      - run: brew install ${{ matrix.target.formula }}.rb
      - run: brew test ${{ matrix.target.formula }}
