name: update

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - .github/workflows/update.yaml
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *  # everyday

jobs:
  formula:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: int128/update-homebrew-formula-action@v1
        with:
          path: |
            kubelogin.rb
            oidc-kubelogin.rb
      - uses: int128/update-generated-files-action@v2
