name: update

on:
  pull_request:
    paths:
      - .github/workflows/update.yaml
  push:
    branches:
      - master
    paths:
      - .github/workflows/update.yaml

jobs:
  formula:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: int128/update-homebrew-formula-action@9acbb85f79d5b93973b97caf638be5e5090c32e4 # v2.5.0
        with:
          version: v1.34.0 # renovate: int128/kubelogin
          path: |
            kubelogin.rb
            oidc-kubelogin.rb
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2.67.0
